@model IEnumerable<BODEGA_SOLORZANO.Models.BoSolor.DetalleTransaccionModel>

@{
    ViewData["Title"] = "Detalle";
    Layout = "~/Views/Shared/_LayoutAdmi.cshtml";
}

<h1>Detalle de la venta</h1>

<p>
    <a asp-action="ProductosDisponibles" asp-controller="Inventario" class="btn btn-success">Crear nueva venta</a>
</p>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead class="bg-dark text-light">
            <tr>
                <th>
                    CATEGORIA
                </th>
                <th>
                    PRODUCTO
                </th>
                <th>
                    CANTIDAD POR CONJUNTO
                </th>
                <th>
                    CANTIDAD DE UNIDADES
                </th>
                <th>
                    S/. SUBTOTAL
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdProductoNavegacion.IdCategoriaNavegacion.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdProductoNavegacion.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CantidadPorConjunto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CantidadUnidadades)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubTotal)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
